.itemContainer {
    font-family: var(--font-primary);
    font-size: 2em;
    margin: 1em;
    box-sizing: border-box;
    width: 20vw;
}

.hrPO {
    width: 150%;
    margin: 1em 0;
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.buttonPO {
    border-radius: 5%;
    background-color: var(--color-primary);
    font-family: var(--font-secondary);
    color: var(--color-tertiary);
    font-size: var(--font-size-firebase-two);
    text-align: center;
    margin: .5em;
    transition: var(--transition-buttons);
}

.buttonPO:hover {
    border-radius: 50%;
}

.imgPO {
    border: solid black 2px;
    width: 25vw;
}

.imgPO:hover {
    border: dashed black 2px;
}

